nopCommerce/*
!nopCommerce/.vscode/
!nopCommerce/.devcontainer/
!nopCommerce/.devcontainer/**
nopPlugins/*
!nopPlugins/.vscode/
!nopPlugins/.devcontainer/
!nopPlugins/.devcontainer/**
nopSolution/*
!nopSolution/.vscode/
!nopSolution/.devcontainer/
!nopSolution/.devcontainer/**
